@font-face {
  font-family: 'Bree';
  src: url('../fonts/bree-2/Bree.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bree';
  src: url('../fonts/bree-2/Bree Oblique.otf') format('opentype');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'Bree';
  src: url('../fonts/bree-2/Bree Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bree';
  src: url('../fonts/bree-2/Bree Light Oblique.otf') format('opentype');
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: 'Bree';
  src: url('../fonts/bree-2/Bree Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bree';
  src: url('../fonts/bree-2/Bree Bold Oblique.otf') format('opentype');
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: 'Bree';
  src: url('../fonts/bree-2/Bree ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Bree';
  src: url('../fonts/bree-2/Bree ExtraBold Oblique.otf') format('opentype');
  font-weight: 800;
  font-style: oblique;
}


body {
    font-family: 'Bree', sans-serif;
}

/* Nav */
#navegacion {
    animation: fadeInDown 0.5s ease forwards;
    transition: padding 0.4s ease, background 0.4s ease, transform 0.4s ease;
}
#navegacion.shrink {
    padding: 10px 20px;
    background: rgba(255,255,255, .6);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); 
}

#navegacion.shrink .nav-link {
    font-size: 16px!important;
}

#navegacion.shrink .font-size-25 {
    font-size: 14px!important;
}

#navegacion.shrink .btn-foundiing {
    font-size: .8rem!important;
}

#navegacion.shrink .logo {
    width: 70px!important;
}

#navegacion.shrink .logo-supercivicos-menu {
    width: 100px!important;
}

.logo {
    width: 90px!important;
}

.logo-supercivicos-menu {
    width: 120px!important;

}

.nav-link {
    color: rgba(96, 72, 43, 1)!important;
    font-size: 18px!important;

    transition: font-size 0.4s ease;
}

/* Generales provicionales */ 
.verde-primary {
    color: rgba(33, 137, 30, 1);
}

.strong-letter {
    color: #94ce58!important;
    font-weight: 700!important;
}

.font-size-25 {
    font-size: 18px;
    color: rgba(33, 137, 30, 1)!important;
}

.text-justify {
    text-align: justify;
}

/* Hero - Intro  */
.text-intro {
    font-size: 18px;
}


/* Actions Section (Videos) */
.content-video-yt  {
    position: relative; 
    display: inline-block;
}

.content-video-yt::after {
    content: ""; 
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0,.1));
    z-index: 1;
}

.content-video-yt img {
    display: block;
    width: 100%;
    height: auto;
}

.icon-video-yt-plugin  {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    color: rgba(255, 0, 0, 0.6);
    font-size: 50px;
    transition: color 0.3s ease-in-out;
}

.content-video-yt:hover .icon-video-yt-plugin {
    color: rgba(255, 0, 0, 0.9);
    opacity: 1;
}

.icon-video-yt-plugin:hover {
    cursor: pointer;
}

/* actions map */

/* Media queries */

.actions-content-map {
    width: 450px;
    max-height: 450px; /* Ajusta la altura máxima */

    overflow-y: auto; /* Actica el scroll vertical cuando sea necesario  */
    padding: 10px;

    z-index: 500;
}



/* Section Tools - Herramientas  */
/*
.sections-tools {
    opacity: 0;
    transform: translateX(-250px);
    transition:  transform 1s ease;
}

.sections-tools.visible {
    transform: translateX(0);
    opacity: 1;
}

*/
/* Agregar media queries para pantallas más pequeñas y dispositivos móviles */
.container-transition-right {
    opacity: 0;
    transform: translateX(200px);
    transition: opacity 0.1s linear, transform 0.1s linear;
    will-change: opacity, transform;
}

/* Agregar media queries para pantallas más pequeñas y dispositivos móviles */
.container-transition-left {
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 0.1s linear, transform 0.1s linear;
    will-change: opacity, transform;
}

.container-tool {
    position: relative; 
}

.img-content-tool {
    display: block;
    max-width: 300px;
    height: auto;
}

.letter-content-tool {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    max-height: 350px;
    

    transition: color 0.3s ease-in-out;
}

.container.tool:hover .letter-content-tool {

}

/* Sección aliados */

/* Seccción biogafía */

/* Sección Reporta */




/* Animations */
/* Menu */
@keyframes fadeInDown {
    from{
        transform: translateY(-100%);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Al recargar la página */
.in-left {
    animation: slideInLeft 1s ease forwards;
    opacity: 0;
    animation-delay: 0.8s;
}

.in-left-one {
    animation: slideInLeft 1s ease forwards;
    opacity: 0;
    animation-delay: 0.6s;
}

.in-left-two {
       animation: slideInLeft 1s ease forwards;
    opacity: 0;
    animation-delay: 0.8s; 
}

.in-left-three {
    animation: slideInLeft 1s ease forwards;
    opacity: 0;
    animation-delay: 1s; 
}



@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.in-right {
    animation: slideInRight 1s ease forwards;
    opacity: 0;
    animation-delay: 0.6s;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}